body {
  margin: 0;
  padding: 0;
  position: relative;
}

.circle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid aqua;
  transition: opacity 0.3s ease-in;

  opacity: 0;
}

.circle.active {
  opacity: 1;
}
