body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.tabs-container {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  background-color: cadetblue;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.add {
  height: 2.5rem;
  width: 2.5rem;
}

.selected-tab {
  height: 100%;
  background-color: aquamarine;
}
